body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
}

.top-container{
    background-color:rgb(30, 171, 30);
    height: 100px;
    width: 100%; 
    justify-content: center;
}

.logo{
  position: relative;
  left: 100px;
  top: 10px;
}
